<%=plan.date.getDate()%>/<%=plan.date.getMonth()+1%>/<%=plan.date.getFullYear()%>
<section class="intro row">
  <div class="col-lg-2 col-sm-12 left p-4"></div>
  <div class="col-lg-2 col-sm-12 right px-4"></div>
</section>
