<% layout('layout') %>

<section class="m-5">
  <h1><%=ref%> Login</h1>
  <form action="/<%=ref%>/login" method="POST">
    <div class="mb-3 col-4">
      <label for="Email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        name="email"
        id="Email"
      />
    </div>
    <div class="mb-3 col-4">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</section>
