<% layout('layout') %>

<h1>Welcome</h1>
<br />
<h2>Admin</h2>
<a href="/admin/login" class="btn btn-primary m-3">Admin login</a>
<a href="/admin/register" class="btn btn-primary m-3">Admin Register</a>
<br />
<h2>Customer</h2>
<a href="/user/login" class="btn btn-primary m-3">User login</a>
<a href="/user/register" class="btn btn-primary m-3">User Register</a>
