<% layout('layout') %>

<section class="m-5">
  <h1>New Site</h1>
  <form
    style="margin: 10px"
    method="POST"
    action="/admin/<%=id%>/<%=P_id%>/new"
    enctype="multipart/form-data"
  >
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Place Name"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea
          class="form-control"
          aria-label="With textarea"
          name="description"
        ></textarea>
      </div>
      <div class="col-12">
        <label for="loc" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="loc"
          placeholder="Location"
          name="M_location"
        />
      </div>
      <div class="col-md-6">
        <label for="hotel" class="form-label">Hotel Name</label>
        <input
          type="text"
          class="form-control"
          id="hotel"
          placeholder="Hotel Name"
          name="hotel"
        />
      </div>
      <div class="col-md-6">
        <label for="images" class="form-label">Images</label>
        <input
          type="file"
          class="form-control"
          id="images"
          name="images"
          multiple
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Sight</button>
    <a href="/admin/<%=id%>/<%=P_id%>" class="btn btn-info">Back</a>
  </form>
</section>
